.container {
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.container:last-of-type {
  margin-bottom: 0;
}

.image-container {
  height: 35px;
  width: 35px;
  border: solid 1px lightgray;
  margin-right: 20px;
  border-radius: 50%;
  overflow: hidden;
}

.image-container-small {
  height: 25px;
  width: 25px;
  border: solid 1px lightgray;
  margin-right: 20px;
  border-radius: 50%;
  overflow: hidden;
}

.image-container-small > img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.image-container > img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.comment-container {
  flex: 1;
  margin: 0;
  padding: 0;
}

.comment {
   color: #5D5D5D;
}

.name {
  color: rebeccapurple;
  font-weight: bold;
}

.date {
  color: #5D5D5D;
  font-size: 0.9rem;
}

.responseContainer {
  display: flex;
  flex-direction: row;
}

.responseComment {
  flex: 1;
}