
.container {
  border-radius: 5px;
  margin: 60px 0;
}
.container:first-of-type {
  border-radius: 5px;
  margin: 0;
}

.container:last-of-type {
  border-radius: 5px;
  margin: 60px 0 0 0;
}

.link > a {
  display: inline-block;
  background-color: #456990;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 15px;
}